<%- include("partials/header"); -%>
      <h1>Contact:</h1>

      <a href="https://www.linkedin.com/in/yaswanth-chirumamilla-a9aa6916a"><b>Linkedin click here.</b></a>
      <br><br>
      <a href="https://www.facebook.com/profile.php?id=100013757081127"><b>Facebook click here.</b></a>
      <br><br>
      <p> <%= contactContent %> </p>
<%- include("partials/footer"); -%>
